@import "~bootstrap";

.file-upload {
  border:2px dashed #757575;
  border-radius: 5px;
  height:200px;
  position: relative;
  cursor:pointer;

  p {
    position: absolute;
    width:100%;
    top:calc(50% - 20px);
    text-align: center;
  }
  input {
    display: none;
  }
}

.file-loading-indicator {
  height:200px;
  text-align: center;
  font-size:3em;
  color:$primary;
}

#table-filter {
  float:right;
  input {
    display:inline-block;
    width:300px;
  }
}

.no-records {
  margin-top:10px;
}

.editor {
  > button {
  margin-right:5px;
  }
}

.edit-table {
  margin-top:10px;
  tbody tr {
    cursor: pointer;
  }

}

.edit-record {
  margin-top:10px;
}

.nav {
  margin: 10px 0;
}
